<p>You should make a POST endpoint that accepts a number <var>N</var>
(as request body) and returns (as response body) the <var>N</var>th
number in the <a
href="https://en.wikipedia.org/wiki/Fibonacci_number">Fibonacci
sequence</a>.</p>

<p>Examples:</p>
<table>
<tr><th>request body</th><th>expected response body</th></tr>
<tr><td>1</td><td>1</td></tr>
<tr><td>2</td><td>1</td></tr>
<tr><td>15</td><td>610</td></tr>
</table>
