{% extends "tester/layout.jinja" %}
{% block title %}There were some failed tests{% endblock %}
{% block content %}
<p>What went wrong: {{ reason }}</p>

<p>
{% if problem %}Calling {{ endpoint }} produced {{ problem }}.{% endif %}
{% if result %}Your output was "{{ result }}" when it should have been
"{{ expected }}" for the input "{{ input }}".{% endif %}
{% if unknown %}I don't know about {{ unknown }}.{% endif %}
</p>

{% endblock %}
