<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}page{% endblock %} - coding assingments</title>
</head>
<body>
  <h1>{{ self.title() }}</h1>
  {% block hero %}{% endblock %}
  {% block content %}(Not written yet){% endblock %}
  {% block footer %}
  <hr>
  <p> Made by <a href="https://www.hel.fi/">City of Helsinki</a>, 2020, and <a
	  href="https://github.com/pkalliok/coding-assignment-tester">
      available</a> under the <a href="https://opensource.org/licenses/MIT">
      MIT license</a>.</p>
  {% endblock %}
</body>
</html>
